@{
    ViewBag.Title = "About";
    ViewBag.Message = "Yahoo Finance DataScrape";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Yahoo! Finance DataScrape is a web data scraper that</p>
<p>leverages several web and database technologies to capture, extract,</p>
<p>and store finance data from Yahoo! Finance. The scraper is built in C#</p>
<p>leveraging ASP.NET for the MVC (Model View Controller), Selenium to scrape the</p>
<p>web data on the page, and a MS SQL Server database to store the scraped data.</p>
